/* custom css here */
a.users-button {
    /* height: 50%; */
}
form.edit-information input.form-control {
    width: 50%;
}
.img-user--avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}